<h1><%= @sneaker.name %></h1>
<div class="">
  <%@sneaker.categories.each do |category|%>
    <%= link_to category.name, category_path(category),class: "badge bg-secondary"%>
  <%end%>
</div>
<%= sneaker_image @sneaker.image %>
<%= render "call_me/form"%>
<h3><%= @sneaker.description %></h3>
<span>Size:<%= @sneaker.size %></span>
<span>Available:<%= @sneaker.avialability %></span>
<br>
<span>Price: <%= @sneaker.price%> $</span>
<div class="">
<% @sneaker.images.each do |image|%>
  <%=image_tag image%>
  <%end%>
  </div>