<nav class="navbar navbar-light bg-light">
  <form class="container-fluid">
<%=link_to root_path, class:"navbar-brand" do %>
    "<%=t "navbar.title" %>"
    
    <%end%>
    <%= link_to t("navbar.catalog"), sneakers_path%>
    <%= get_locale%>
    <% I18n.available_locales.each do |locale|%>
      <%=link_to locale, url_for(locale: locale) if locale.to_s != get_locale%>
    <%end%>
    
    <%= form_tag url_for(), method: :get, class: "d-flex" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: t("navbar.search.placeholder"),
          class: "form-control  me-2"
      ) %>
            <button class="btn btn-outline-success" type="submit"><%=t "navbar.search.button" %></button>
    <% end %>
    </div>
    </nav>